<p>
  <b>Character:</b>
  <%=h @career.character.name %>
</p>

<p>
  <b>Name:</b>
  <%=h @career.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @career.level %>
</p>

<p>
  <b>Hit die:</b>
  <%=h @career.hit_die %>
</p>

<p>
  <b>Skills per level:</b>
  <%=h @career.skills_per_level %>
</p>

<p>
  <b>Base save reflex:</b>
  <%=h @career.base_save_reflex %>
</p>

<p>
  <b>Base save will:</b>
  <%=h @career.base_save_will %>
</p>

<p>
  <b>Base save fortitude:</b>
  <%=h @career.base_save_fortitude %>
</p>


