<h1>Editing skill</h1>

<%= error_messages_for :skill %>

<% form_for([@character, @skill]) do |f| %>

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Rank</b><br />
    <%= f.text_field :rank %>
  </p>

  <p>
    <b>Base stat</b><br />
    <%= f.text_field :base_stat %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [@character, @skill] %> |
<%= link_to 'Back', character_skills_path %>
<%= params[:increase] %>
